{% extends 'base.html.twig' %}

{% block body %}
<section class="padding-y-100 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
  <div class="container">
  <div class="row">
   <div class="col-12 text-center mb-5">
     <h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
       Cohorte - </font></font><span class="text-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">01</font></font></span>
     </h4>
   </div>

    <div class="col-lg-6 mt-2">
      <div class="row">
        <div class="col-md-6 my-2">
          <img src="assets/img/avatar/lg/1.jpg" alt="">
        </div>
        <div class="col-md-6 my-4">
          <h4 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
              Natalie Paisley
          </font></font></h4>
          <p class="text-muted mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
              Fondateur et PDG
          </font></font></p>
          <p class="my-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
              Nam liber tempor cum soluta nobis eleifend option congue est nihil ils impérient.
          </font></font></p>
          <ul class="list-inline">
              <li class="list-inline-item">
                <a href="" class="btn btn-facebook iconbox iconbox-xs"><i class="ti-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                  <a href="" class="btn btn-twitter iconbox iconbox-xs"><i class="ti-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                  <a href="" class="btn btn-google-plus iconbox iconbox-xs"><i class="ti-google"></i></a>
              </li>
              <li class="list-inline-item">
                  <a href="" class="btn btn-linkedin iconbox iconbox-xs"><i class="ti-linkedin"></i></a>
              </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mt-2">
      <div class="row">
        <div class="col-md-6 my-2">
          <img src="assets/img/avatar/lg/2.jpg" alt="">
        </div>
        <div class="col-md-6 my-4">
          <h4 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
              Anthony Brooks
          </font></font></h4>
          <p class="text-muted mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
              DEVELOPPEUR sénior
          </font></font></p>
          <p class="my-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
              Nam liber tempor cum soluta nobis eleifend option congue est nihil ils impérient.
          </font></font></p>
          <ul class="list-inline">
              <li class="list-inline-item">
                <a href="" class="btn btn-facebook iconbox iconbox-xs"><i class="ti-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                  <a href="" class="btn btn-twitter iconbox iconbox-xs"><i class="ti-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                  <a href="" class="btn btn-google-plus iconbox iconbox-xs"><i class="ti-google"></i></a>
              </li>
              <li class="list-inline-item">
                  <a href="" class="btn btn-linkedin iconbox iconbox-xs"><i class="ti-linkedin"></i></a>
              </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mt-2">
      <div class="row">
        <div class="col-md-6 my-2">
          <img src="assets/img/avatar/lg/3.jpg" alt="">
        </div>
        <div class="col-md-6 my-4">
          <h4 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
              Philip Demarco
          </font></font></h4>
          <p class="text-muted mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
              Designer
          </font></font></p>
          <p class="my-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
              Nam liber tempor cum soluta nobis eleifend option congue est nihil ils impérient.
          </font></font></p>
          <ul class="list-inline">
              <li class="list-inline-item">
                <a href="" class="btn btn-facebook iconbox iconbox-xs"><i class="ti-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                  <a href="" class="btn btn-twitter iconbox iconbox-xs"><i class="ti-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                  <a href="" class="btn btn-google-plus iconbox iconbox-xs"><i class="ti-google"></i></a>
              </li>
              <li class="list-inline-item">
                  <a href="" class="btn btn-linkedin iconbox iconbox-xs"><i class="ti-linkedin"></i></a>
              </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mt-2">
      <div class="row">
        <div class="col-md-6 my-2">
          <img src="assets/img/avatar/lg/4.jpg" alt="">
        </div>
        <div class="col-md-6 my-4">
          <h4 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
              Peter Spenser
          </font></font></h4>
          <p class="text-muted mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
              Développeur créatif
          </font></font></p>
          <p class="my-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
              Nam liber tempor cum soluta nobis eleifend option congue est nihil ils impérient.
          </font></font></p>
          <ul class="list-inline">
              <li class="list-inline-item">
                <a href="" class="btn btn-facebook iconbox iconbox-xs"><i class="ti-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                  <a href="" class="btn btn-twitter iconbox iconbox-xs"><i class="ti-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                  <a href="" class="btn btn-google-plus iconbox iconbox-xs"><i class="ti-google"></i></a>
              </li>
              <li class="list-inline-item">
                  <a href="" class="btn btn-linkedin iconbox iconbox-xs"><i class="ti-linkedin"></i></a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>





{% endblock %}
